.App {
  text-align: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

section {
  flex-grow: 1;
}

header {
  padding: 40px 0;
}

header nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  color: #7c7c7c;
  font-weight: bold;
  border-radius: 2rem;
  padding: 5px 10px;

  transition: .3s;
}

header nav ul li a:hover {
  color: #000000;
}

header nav ul li a.active {
  color: #ffffff;
  background-color: #7c7c7c;
}


